<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Password Reset</h2>
  <mat-card-subtitle>Please enter your email below to reset your password</mat-card-subtitle>

  <hr>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Fleet Number</mat-label>
      <input matInput formControlName='email'>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('email')">
        Email is not Valid
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button [disabled]="!loginForm.valid" type="submit" color="primary">
      Verify Vehicle</button>
    <button mat-button [mat-dialog-close]=undefined>Close</button>

  </div>
</form>
